<div class="row">
    <div class="col-md-3">{{ form_row(form.code) }}</div>
    {% set max = 9 %}
    {% if fields is defined %}
        {% for field in fields %}
            <div class="col-md-3">{{ form_row(form[field]) }}</div>
            {% set max = max - 3 %}
        {% endfor %}
    {% endif %}
    <div class="col-md-{{ max }}">{{ form_row(form.libelle) }}</div>
</div>