{% extends 'base-layout.html.twig' %}

{% block title %}Liste des groupes{% endblock %}

{% block body %}
<div class="card shadow-sm">
    <div class="card-header card-header-sm">
        <h3 class="card-title"> Liste des groupes Utilisateur</h3>
        <div class="card-toolbar">
            <a href="{{ path('app_utilisateur_groupe_new') }}" class="btn btn-main btn-sm">
                <i class="bi bi-plus-square text-light"></i>
                Nouveau
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div id="grid_app_utilisateur_groupe" class="grid-dt-wrapper">Chargement....</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block java %}
    <script src="{{ asset('assets/js/datatables.js') }}"></script>
    <script> 
        $(function() { 
              $('#grid_app_utilisateur_groupe').initDataTables({{ datatable_settings(datatable) }}, {
                  searching: true,
                  ajaxUrl: "{{ path('app_utilisateur_groupe_index') }}",
                  language: {
                      url: asset_base_path + "/js/i18n/French.json"
                  }
              });
        });
    </script>
{% endblock %}
